.container {
    position: relative;
    text-align: center;
    color: white;
    margin-top: 10px;
  }

.bottom-text{

        position: absolute;
        bottom: 8px;
        left: 16px;
        color: black;
        font-weight: 600;
        font-family: cursive;
      }
