<div class="right-container">
    <h1 class="header-right">
        <i class="fa fa-briefcase"></i>
        Work Experience
    </h1>
    <div>
        <h5 class="fed-class">Front End Developer / w3schools.com </h5>

    </div>
    <div>
        <i class="fa fa-calendar cal-icon"></i>
        <span class="month-class"> Jan 2015-</span><span class="cal-class">Current</span>
    </div>
    <div class="text-class">
        Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
        hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
    </div>
    <hr>
</div>