<div class="right-container">
    <h1 class="header-right">
        <i class="fa fa-briefcase"></i>
        Work Experience
    </h1>
    <div>
        <h5 class="fed-class">Front End Developer / w3schools.com </h5>

    </div>
    <div>
        <i class="fa fa-calendar cal-icon"></i>
        <span class="month-class"> Jan 2015-</span><span class="cal-class">Current</span>
    </div>
    <div class="text-class">
        Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
        hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
    </div>
    <hr>
    <div>
        <h5 class="fed-class">Web Developer / something.com </h5>
        <div>
            <i class="fa fa-calendar cal-icon"></i>
        <span class="month-class"> Mar 2012- Dec-2014</span>
        </div>
        <div class='text-class'>
            Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
        </div>
    </div>

</div>
<div class="right-container">
    <h2 class="certificate-class">
        <i class="fa fa-certificate"></i>
        Education
    </h2>
    <h5 class="fed-class">
        W3Schools.com
    </h5>
        <br>
        <div class="cal-month">
            <i class="fa fa-calendar cal-icon"></i>
            <span class="month-class">forever</span>
            <p class="text-class">Web Development all i need to know in one place</p>
        </div>
        <hr>
   
</div>
