.details{
    color:rgb(17, 148, 148);
    padding:10px;
}
.navclr{
    color: rgb(165, 158, 158);
}
.prgredivcls{
    background-color: #e0dcdc!important;
    border-radius: 16px;
}

.progresscls{
    background-color: #009688!important;
    border-radius: 16px;
}
.progresstext{
    color:#757575!important;
    font-size: 15px;
    line-height: 1.5;
}


.langclass{
    height: 24px;
    width: 100%;
}
