<app-card></app-card>
<div class="container">
    <div style="background-color: white; padding: 10px;;">
        <p class="navclr"><i class="fa fa-briefcase details"  aria-hidden="true"></i>Designer</p>
        <p class="navclr"><i class="fa fa-home details" aria-hidden="true"></i>London,UK</p>
        <P class="navclr"><i class="fa fa-envelope details" aria-hidden="true"></i>swapna@gmail.com</P>
        <p class="navclr"><i class="fa fa-phone details" aria-hidden="true"></i>8142323020</p>
        <hr style="width:100%;text-align:left;margin-left:0">
        <p class="navclr"><i class="fa fa-asterisk details" aria-hidden="true"></i>Skills</p>
        <p class="progresstext">Adobe Photoshop</p>
        <div class="prgredivcls">
            <div class="progresscls" style="width:90%; text-align: center;color:white; ">90%</div>
          </div>
          <br>
          <p class="progresstext">Photography</p>
          <div class="prgredivcls">
            <div class="progresscls" style="width:80%; text-align: center;color:white; ">80%</div>
          </div>
          <br>
          <p class="progresstext">Illustrator</p>
          <div class="prgredivcls">
            <div class="progresscls" style="width:75%; text-align: center;color:white; ">75%</div>
          </div>
          <br>
          <p class="progresstext">Media</p>
          <div class="prgredivcls">
            <div class="progresscls" style="width:50%; text-align: center;color:white; ">50%</div>
          </div>
          <br>
          <div>
            <p class="navclr"><i class="fa fa-globe details" aria-hidden="true"></i>Languages</p>
          </div>
          
          <p class="progresstext">English</p>
          <div class="prgredivcls">
            <div class="progresscls langclass" style="width:100%; text-align: center;color:white; "> </div>
          </div>
          <p class="progresstext">Spanish</p>
          <div class="prgredivcls">
            <div class="progresscls langclass" style="width:60%; text-align: center;color:white; "> </div>
          </div>
          <p class="progresstext">German</p>
          <div class="prgredivcls">
            <div class="progresscls langclass" style="width:30%; text-align: center;color:white; "> </div>
          </div>

    </div>

</div>