<app-card></app-card>
<div class="container">
    <div style="background-color: white; padding: 10px;;">
        <p class="navclr"><i class="fa fa-briefcase details"  aria-hidden="true"></i>Designer</p>
        <p class="navclr"><i class="fa fa-home details" aria-hidden="true"></i>London,UK</p>
        <P class="navclr"><i class="fa fa-envelope details" aria-hidden="true"></i>swapna@gmail.com</P>
        <p class="navclr"><i class="fa fa-phone details" aria-hidden="true"></i>8142323020</p>
        <hr style="width:100%;text-align:left;margin-left:0">
        <p class="navclr"><i class="fa fa-asterisk details" aria-hidden="true"></i>Skills</p>

    </div>

</div>