.panel-container{
    border:1px solid gray;
    height:100vh;
    background-color: white;
    margin-top: 10px;

}
.footer-container{
    border:1px solid gray;
    background-color: rgb(150, 183, 211);
    height:100px;

}