.panel-container{
    border:1px solid gray;
    min-height:100vh;
    background-color: white;
    margin-top: 10px;

}
.footer-container{
    border:1px solid gray;
    background-color:#009688!important;
    height:100px;
    margin-top: 30px;

}
.boxshadow{

    box-shadow: 0px 4px 10px 2px #cdcdcd;

}