<div class="container">
    <div class="rightfirstdiv">
    <div class="rightheader">
        <p class="rightheader"><i class="fa fa-briefcase  rightheadertwo" aria-hidden="true"></i>Work Experience</p>
    </div>

    <div class="container">
        <div class="divstyles">

        <h5 class="Subheader">Front End Developer/w3 Schools.com</h5>
        <p>Lorem ipsum dolor sit amet. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit sunt
            hic.
            Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.
        </p>
    </div>
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
    <div class="container">
        <h5 class="Subheader">Web Developer / something.com</h5>
        <p>Consectetur adipisicing elit. Praesentium magnam consectetur vel in deserunt aspernatur est reprehenderit
            sunt hic. Nulla tempora soluta ea et odio, unde doloremque repellendus iure, iste.

        </p>
    </div>
    <hr style="width:100%;text-align:left;margin-left:0">
    <div class="container">
        <h5 class="Subheader">Graphic Desighner / Design Something.com</h5>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.

        </p>
    </div>


</div>
</div>


<div class="edu-container">



<p>hiiiiiii</p>










</div>
<!-- <div class="container">
    <div class="rightseconddiv">
        <div class="container">
            <p>Education</p>

        </div>
        <div class="container">
            <p>w3schools.com</p>
            <p>Web Development! All I need to know in one place </p>

        </div>
        <div class="container">
            <p>London Business School</p>
            <p>Master Degree </p>

        </div>
        <div class="container">
            <p>School of Coding</p>
            <p>Bachelor Degree</p>
        </div>
    </div>

</div> -->