.headercls{
    
    font-size: 30px;
    margin: 10px 0;
    font-weight: 400;
    font-family: "Roboto", sans-serif;
    padding-top: 16px!important;
    padding-bottom: 16px!important;

}
.rightheader{
    display:inline;
    padding: 16px;;

}
.rightheadertwo{
 margin-right: 10px;
}